<div class="container" style = "display: flex;">
  <div class="bla" style = "display: flex; flex-direction: column;  justify-content: center; width: 30%;">
    <div>
      <input (click)="ShowRequests()" type="button" value="     Vezi cereri     ">
    </div>
    <div>
      <input (click)="ShowContracts()" type="button" value="Contractele mele">
    </div>
    <div>
      <input (click)="ShowTracks()" type="button" value="   Vezi camioane ">
    </div>
    <div>
      <input (click)="addTrack()" type="button" value="   Adauga camion">
    </div>
    <div>
      <input (click)="showOffers()" type="button" value="     Arata oferte    ">
    </div>
  </div>

  <div style = "width:1000px; display: flex; flex-direction: column; justify-content: center;">
    <div *ngIf="showreq">
      <table mat-table [dataSource]="requests" class="mat-elevation-z8">
        <ng-container matColumnDef="data_plecare">
          <th mat-header-cell *matHeaderCellDef> Data plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_max_plecare">
          <th mat-header-cell *matHeaderCellDef> Data max plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_max_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_sosire">
          <th mat-header-cell *matHeaderCellDef> Data sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="data_max_sosire">
          <th mat-header-cell *matHeaderCellDef> Data max sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_max_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="tip_marfa">
          <th mat-header-cell *matHeaderCellDef> Tip marfa </th>
          <td mat-cell *matCellDef="let element"> {{element.tip_marfa}} </td>
        </ng-container>
        <ng-container matColumnDef="masa">
          <th mat-header-cell *matHeaderCellDef> Masa </th>
          <td mat-cell *matCellDef="let element"> {{element.masa}} </td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th mat-header-cell *matHeaderCellDef> Volum </th>
          <td mat-cell *matCellDef="let element"> {{element.volum}} </td>
        </ng-container>
        <ng-container matColumnDef="buget">
          <th mat-header-cell *matHeaderCellDef> Buget disponibil </th>
          <td mat-cell *matCellDef="let element"> {{element.buget}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel">
          <th mat-header-cell *matHeaderCellDef> Numar telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel}} </td>
        </ng-container>
        <ng-container matColumnDef="actiune">
          <th mat-header-cell *matHeaderCellDef> Cereri </th>
          <td mat-cell *matCellDef="let element"> <button (click)="TakeProducts(element)" mat-button >Preia marfa</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsReq"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsReq;"></tr>
      </table>
    </div>
    <div *ngIf="showsugestions">
      <table mat-table [dataSource]="requestsAux" class="mat-elevation-z8">
        <ng-container matColumnDef="data_plecare">
          <th mat-header-cell *matHeaderCellDef> Data plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_max_plecare">
          <th mat-header-cell *matHeaderCellDef> Data max plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_max_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_sosire">
          <th mat-header-cell *matHeaderCellDef> Data sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="data_max_sosire">
          <th mat-header-cell *matHeaderCellDef> Data max sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_max_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="tip_marfa">
          <th mat-header-cell *matHeaderCellDef> Tip marfa </th>
          <td mat-cell *matCellDef="let element"> {{element.tip_marfa}} </td>
        </ng-container>
        <ng-container matColumnDef="masa">
          <th mat-header-cell *matHeaderCellDef> Masa </th>
          <td mat-cell *matCellDef="let element"> {{element.masa}} </td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th mat-header-cell *matHeaderCellDef> Volum </th>
          <td mat-cell *matCellDef="let element"> {{element.volum}} </td>
        </ng-container>
        <ng-container matColumnDef="buget">
          <th mat-header-cell *matHeaderCellDef> Buget disponibil </th>
          <td mat-cell *matCellDef="let element"> {{element.buget}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel">
          <th mat-header-cell *matHeaderCellDef> Numar telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel}} </td>
        </ng-container>
        <ng-container matColumnDef="actiune">
          <th mat-header-cell *matHeaderCellDef> Cereri </th>
          <td mat-cell *matCellDef="let element"> <button (click)="TakeProducts(element)" mat-button >Preia marfa</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsReq"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsReq;"></tr>
      </table>
    </div>
    <div *ngIf="showtracks">
      <table mat-table [dataSource]="trucks" class="mat-elevation-z8">
        <ng-container matColumnDef="nr_inmatriculare">
          <th mat-header-cell *matHeaderCellDef> Numar inmatriculare </th>
          <td mat-cell *matCellDef="let element"> {{element.nr_inmatriculare}} </td>
        </ng-container>
        <ng-container matColumnDef="tip_camion">
          <th mat-header-cell *matHeaderCellDef> Tip camion </th>
          <td mat-cell *matCellDef="let element"> {{element.tip_camion}} </td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th mat-header-cell *matHeaderCellDef> Volum </th>
          <td mat-cell *matCellDef="let element"> {{element.volum}} </td>
        </ng-container>
        <ng-container matColumnDef="gabarit">
          <th mat-header-cell *matHeaderCellDef> Gabarit </th>
          <td mat-cell *matCellDef="let element"> {{element.gabarit}} </td>
        </ng-container>
        <ng-container matColumnDef="greutate">
          <th mat-header-cell *matHeaderCellDef> Greutate </th>
          <td mat-cell *matCellDef="let element"> {{element.greutate}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_gol">
          <th mat-header-cell *matHeaderCellDef> Pret (camion gol) </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_gol}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_incarcat">
          <th mat-header-cell *matHeaderCellDef> Pret (camion incarcat) </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_incarcat}} </td>
        </ng-container>
        <ng-container matColumnDef="actiune">
          <th mat-header-cell *matHeaderCellDef> Oferte </th>
          <td mat-cell *matCellDef="let element"> <button (click)="addOffer(element.nr_inmatriculare)" mat-button >Adauga oferta</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="showoffers">

      <table mat-table [dataSource]="offers" class="mat-elevation-z8">
        <ng-container matColumnDef="nr_inmatriculare">
          <th mat-header-cell *matHeaderCellDef> Numar inmatriculare </th>
          <td mat-cell *matCellDef="let element"> {{element.nr_inmatriculare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_plecare">
          <th mat-header-cell *matHeaderCellDef> Data plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_max_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="data_sosire">
          <th mat-header-cell *matHeaderCellDef> Data sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel">
          <th mat-header-cell *matHeaderCellDef> Numar telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsOffers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOffers;"></tr>
      </table>
    </div>
    <div *ngIf="showcontracts">
      <table mat-table [dataSource]="contracts" class="mat-elevation-z8">
        <ng-container matColumnDef="email_client">
          <th mat-header-cell *matHeaderCellDef> Email client </th>
          <td mat-cell *matCellDef="let element"> {{element.email_client}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel_client">
          <th mat-header-cell *matHeaderCellDef> Numar tel client </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel_client}} </td>
        </ng-container>
        <ng-container matColumnDef="email_transp">
          <th mat-header-cell *matHeaderCellDef> Email transportator </th>
          <td mat-cell *matCellDef="let element"> {{element.email_transp}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel_transp">
          <th mat-header-cell *matHeaderCellDef> Numar tel transp </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel_transp}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="tarif">
          <th mat-header-cell *matHeaderCellDef> Tarif </th>
          <td mat-cell *matCellDef="let element"> {{element.tarif}} </td>
        </ng-container>
        <ng-container matColumnDef="detalii_marfa">
          <th mat-header-cell *matHeaderCellDef> Detalii marfa </th>
          <td mat-cell *matCellDef="let element"> {{element.detalii_marfa}} </td>
        </ng-container>
        <ng-container matColumnDef="detalii_camion">
          <th mat-header-cell *matHeaderCellDef> Detalii camion </th>
          <td mat-cell *matCellDef="let element"> {{element.detalii_camion}} </td>
        </ng-container>
        <ng-container matColumnDef="instructiuni_speciale">
          <th mat-header-cell *matHeaderCellDef> Instructiuni peciale </th>
          <td mat-cell *matCellDef="let element"> {{element.instructiuni_speciale}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsContracts"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsContracts;"></tr>
      </table>
    </div>

    <form [formGroup]="addTrackForm" *ngIf="addtrack">
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Numar de inmatriculare</mat-label>
          <input type="text" matInput formControlName="nr_inmatriculare">
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Tip camion (marca)</mat-label>
          <input type="text" matInput formControlName="tip_camion">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Volum</mat-label>
          <input type="number" matInput formControlName="volum">
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Gabarit</mat-label>
          <input type="number" matInput formControlName="gabarit">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Greutate</mat-label>
          <input type="number" matInput formControlName="greutate">
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Pret (camion gol)</mat-label>
          <input type="number" matInput formControlName="pret_gol">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Pret (camion incarcat)</mat-label>
          <input type="number" matInput formControlName="pret_incarcat">
        </mat-form-field>
      </div>
      <div style="padding:20px 250px; border: none;">
        <button mat-raised-button (click)="SubmitTrack()" >Adauga camion</button>
      </div>
    </form>
    <form [formGroup]="addOfferForm" *ngIf="addoffer">
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Data plecare</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="data_plecare">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Data sosire</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="data_sosire">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Loc plecare</mat-label>
          <input type="text" matInput formControlName="loc_plecare" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
              {{option.nume}}, {{option.judet}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Loc sosire</mat-label>
          <input type="text" matInput formControlName="loc_sosire" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
              {{option.nume}}, {{option.judet}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Numar de telefon</mat-label>
          <input type="number" matInput formControlName="numar_tel">
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="number" matInput formControlName="email">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="padding:20px 100px; border: none;">
          <button mat-raised-button (click)="addTrackOffer()" >Adauga cerere</button>
        </div>
        <div style="padding:20px 100px; border: none;">
          <button mat-raised-button (click)="MatchingRequests()" >Vezi oferte disponibile</button>
        </div>
      </div>
    </form>
  </div>
</div>
