<div *ngIf = "showmap == false" class="container" style = "display: flex;">
  <div class="bla" style = "display: flex; flex-direction: column;  justify-content: center; width: 30%;">
    <div>
      <input (click)="showContracts()" type="button" value="Contractele mele">
    </div>
    <div>
      <input (click)="addRequest()" type="button" value="   Adauga cerere ">
    </div>
    <div>
      <input (click)="ShowOffers()" type="button" value="       Vezi oferte   ">
    </div>
    <div>
      <input (click)="initializeMap()" type="button" value="       Vezi harta     ">
    </div>

  </div>
  <div style = "width:1000px; display: flex; flex-direction: column; justify-content: center;">
    <div *ngIf="showoffers">
      <table mat-table [dataSource]="offers" class="mat-elevation-z8">
        <ng-container matColumnDef="data_plecare">
          <th mat-header-cell *matHeaderCellDef> Data plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="data_sosire">
          <th mat-header-cell *matHeaderCellDef> Data sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="gabarit">
          <th mat-header-cell *matHeaderCellDef> Gabarit </th>
          <td mat-cell *matCellDef="let element"> {{element.gabarit}} </td>
        </ng-container>
        <ng-container matColumnDef="greutate">
          <th mat-header-cell *matHeaderCellDef> Greutate </th>
          <td mat-cell *matCellDef="let element"> {{element.greutate}} </td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th mat-header-cell *matHeaderCellDef>  Volum </th>
          <td mat-cell *matCellDef="let element"> {{element.volum}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_gol">
          <th mat-header-cell *matHeaderCellDef> Pret gol </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_gol}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_incarcat">
          <th mat-header-cell *matHeaderCellDef> Pret incarcat </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_incarcat}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel">
          <th mat-header-cell *matHeaderCellDef> Numar telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="rezerva_camion">
          <th mat-header-cell *matHeaderCellDef> Rezerva camion </th>
          <td mat-cell *matCellDef="let element"> <button (click)="GiveProducts(element)"  mat-button >Rezerva</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsOffers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOffers;"></tr>
      </table>
    </div>
    <div *ngIf="showsugestions">
      <table mat-table [dataSource]="offersAux" class="mat-elevation-z8">
        <ng-container matColumnDef="data_plecare">
          <th mat-header-cell *matHeaderCellDef> Data plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.data_plecare}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="data_sosire">
          <th mat-header-cell *matHeaderCellDef> Data sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.data_sosire}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="gabarit">
          <th mat-header-cell *matHeaderCellDef> Gabarit </th>
          <td mat-cell *matCellDef="let element"> {{element.gabarit}} </td>
        </ng-container>
        <ng-container matColumnDef="greutate">
          <th mat-header-cell *matHeaderCellDef> Greutate </th>
          <td mat-cell *matCellDef="let element"> {{element.greutate}} </td>
        </ng-container>
        <ng-container matColumnDef="volum">
          <th mat-header-cell *matHeaderCellDef>  Volum </th>
          <td mat-cell *matCellDef="let element"> {{element.volum}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_gol">
          <th mat-header-cell *matHeaderCellDef> Pret gol </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_gol}} </td>
        </ng-container>
        <ng-container matColumnDef="pret_incarcat">
          <th mat-header-cell *matHeaderCellDef> Pret incarcat </th>
          <td mat-cell *matCellDef="let element"> {{element.pret_incarcat}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel">
          <th mat-header-cell *matHeaderCellDef> Numar telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="rezerva_camion">
          <th mat-header-cell *matHeaderCellDef> Rezerva camion </th>
          <td mat-cell *matCellDef="let element"> <button (click)="GiveProducts(element)"  mat-button >Rezerva</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsOffers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOffers;"></tr>
      </table>
    </div>
    <div *ngIf="showcontracts">
      <table mat-table [dataSource]="contracts" class="mat-elevation-z8">
        <ng-container matColumnDef="email_client">
          <th mat-header-cell *matHeaderCellDef> Email client </th>
          <td mat-cell *matCellDef="let element"> {{element.email_client}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel_client">
          <th mat-header-cell *matHeaderCellDef> Numar tel client </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel_client}} </td>
        </ng-container>
        <ng-container matColumnDef="email_transp">
          <th mat-header-cell *matHeaderCellDef> Email transportator </th>
          <td mat-cell *matCellDef="let element"> {{element.email_transp}} </td>
        </ng-container>
        <ng-container matColumnDef="numar_tel_transp">
          <th mat-header-cell *matHeaderCellDef> Numar tel transp </th>
          <td mat-cell *matCellDef="let element"> {{element.numar_tel_transp}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_plecare">
          <th mat-header-cell *matHeaderCellDef> Loc plecare </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_plecare['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="loc_sosire">
          <th mat-header-cell *matHeaderCellDef> Loc sosire </th>
          <td mat-cell *matCellDef="let element"> {{element.loc_sosire['nume']}} </td>
        </ng-container>
        <ng-container matColumnDef="tarif">
          <th mat-header-cell *matHeaderCellDef> Tarif </th>
          <td mat-cell *matCellDef="let element"> {{element.tarif}} </td>
        </ng-container>
        <ng-container matColumnDef="detalii_marfa">
          <th mat-header-cell *matHeaderCellDef> Detalii marfa </th>
          <td mat-cell *matCellDef="let element"> {{element.detalii_marfa}} </td>
        </ng-container>
        <ng-container matColumnDef="detalii_camion">
          <th mat-header-cell *matHeaderCellDef> Detalii camion </th>
          <td mat-cell *matCellDef="let element"> {{element.detalii_camion}} </td>
        </ng-container>
        <ng-container matColumnDef="instructiuni_speciale">
          <th mat-header-cell *matHeaderCellDef> Instructiuni speciale </th>
          <td mat-cell *matCellDef="let element"> {{element.instructiuni_speciale}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsContracts"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsContracts;"></tr>
      </table>
    </div>
    <form [formGroup]="addRequestForm" *ngIf="addreq">
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Data plecare</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="data_plecare">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="column2" appearance="fill">
          <mat-label>Data sosire</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="data_sosire">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Data maxima plecare</mat-label>
          <input matInput [matDatepicker]="picker3" formControlName="data_max_plecare">
          <mat-datepicker-toggle matSuffix [for]="picker3">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Data maxima sosire</mat-label>
          <input matInput [matDatepicker]="picker4" formControlName="data_max_sosire">
          <mat-datepicker-toggle matSuffix [for]="picker4">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Loc plecare</mat-label>
          <input type="text" matInput formControlName="loc_plecare" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
              {{option.nume}}, {{option.judet}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Loc sosire</mat-label>
          <input type="text" matInput formControlName="loc_sosire" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
              {{option.nume}}, {{option.judet}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Tip marfa</mat-label>
          <mat-select formControlName="tip_marfa">
            <mat-option *ngFor="let product of products" [value]="product">
              {{product}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Masa</mat-label>
          <input type="number" matInput formControlName="masa">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Volum</mat-label>
          <input type="number" matInput formControlName="volum">
        </mat-form-field>
        <mat-form-field class="column2" appearance="fill">
          <mat-label>Buget</mat-label>
          <input type="number" matInput formControlName="buget">
        </mat-form-field>
      </div>
      <div style="display: flex; flex-direction: row;">
        <mat-form-field class="column1" appearance="fill">
          <mat-label>Date de contact (numar de telefon)</mat-label>
          <input type="text" matInput formControlName="numar_tel">
        </mat-form-field>
        <!-- <mat-form-field class="column2" appearance="fill">
        <mat-label>Detalii</mat-label>
        <input type="text" matInput formControlName="buget">
      </mat-form-field> -->
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="padding:20px 100px; border: none;">
          <button mat-raised-button (click)="SubmitRequest()" >Adauga cerere</button>
        </div>
        <div style="padding:20px 100px; border: none;">
          <button mat-raised-button (click)="MatchingOffers()" >Vezi oferte disponibile</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div style="height: 100%;">
  <div #mapViewNode class="arcgis-div"></div>
</div>

