.container {
    background-color: #06C3BD;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow:auto;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 27%;
    margin-top: 5%;
  }
.arcgis-div {
    height: 100%;
}